# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Backend/data
/Backend/node_modules
/Frontend/node_modules
/Frontend Rebuild/node_modules
/Frontend Rebuild/src/data/PrivateKey.ppk
/Frontend Rebuild/src/manifest
/Express/node_modules
/Globals/node_modules
/Shared/node_modules
/Shared/manifest
/Shared/manifest_

#configs
/Shared/configs

#envs
/Frontend Rebuild/.env

#logs
frontend-error.log
frontend-out.log