# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Backend/data
/Backend/node_modules
/Frontend/node_modules
/Frontend - New/node_modules
/Express/node_modules
/Globals/node_modules
/Shared/node_modules
/Shared/manifest
/Shared/manifest_

#configs
/Shared/configs

#others
/Frontend - New

#logs
frontend-error.log
frontend-out.log